<h1>Runlogs#index</h1>
<table>
   <thead>
      <tr>
         <th>スタート時間</th>
         <th>距離</th>
         <th>時間</th>
      </tr>
   </thead>
   <tbody>
      <% @runlogs.each do |runlog| %>
         <tr>
            <td><%= runlog.start_time.in_time_zone('Tokyo') %></td>
            <td><%= number_with_precision(runlog.distance) %></td>
            <td><%= duration_to_hms(runlog.duration) %></td>
         </tr>
      <% end %>
   </tbody>
</table>
